In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('data/1.txt', header=None, names=['taxi ID', 'date time', 'longitude', 'latitude'])
df['date time'] = pd.to_datetime(df['date time'])

In [9]:
df

     taxi ID           date time  longitude  latitude
0          1 2008-02-02 15:36:08  116.51172  39.92123
1          1 2008-02-02 15:46:08  116.51135  39.93883
2          1 2008-02-02 15:46:08  116.51135  39.93883
3          1 2008-02-02 15:56:08  116.51627  39.91034
4          1 2008-02-02 16:06:08  116.47186  39.91248
..       ...                 ...        ...       ...
583        1 2008-02-08 15:11:31  116.48347  39.91954
584        1 2008-02-08 15:21:31  116.50789  39.93128
585        1 2008-02-08 15:31:31  116.53174  39.91536
586        1 2008-02-08 15:41:31  116.57156  39.90263
587        1 2008-02-08 15:51:31  116.54723  39.90841

[588 rows x 4 columns]

In [4]:
#repeat this code for all the files

i = 10357
df = pd.read_csv('data/{}.txt'.format(i), header=None, names=['taxi ID', 'date time', 'longitude', 'latitude'])
# write each row in the corresponding file
for index, row in df.iterrows():
    # convert the date time to datetime object
    row['date time'] = pd.to_datetime(row['date time'])
    hour = row['date time'].hour
    with open('data/hours/{}H.txt'.format(hour), 'a') as f:
        f.write(str(row['taxi ID']) + ',' + str(row['date time']) + ',' + str(row['longitude']) + ',' + str(row['latitude']) + '\n')

print('Done with file {}'.format(i))

Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357
Done with file 10357

KeyboardInterrupt: