In [1]:
import pandas as pd

In [50]:
df = pd.read_csv('data/1.txt', header=None, names=['taxi_id', 'time', 'longitude', 'latitude'])
df.head()

   taxi_id                 time  longitude  latitude
0        1  2008-02-02 15:36:08  116.51172  39.92123
1        1  2008-02-02 15:46:08  116.51135  39.93883
2        1  2008-02-02 15:46:08  116.51135  39.93883
3        1  2008-02-02 15:56:08  116.51627  39.91034
4        1  2008-02-02 16:06:08  116.47186  39.91248

In [ ]:
# create a maximum function
def max_func(x):
    return max(x)